<h1>Pictures</h1>

<% @pictures.each do |picture| %>		<!-- @pictures from pictures_controller.rb -->
	<p><%= picture[:title] %>, <%= picture[:artist] %></p>
	<img src="<%= picture[:url] %>">
<% end %>